
$image-margins:10px;
$margin-initial-value:0;
$padding-initial-value:0;
$nav-items-spacing:40px;
$white-color:#fff;
$grey-color:#333;
$menu-right-margin:137px;
$font : 100% Open-Sans;
$image-width : 80%;
$container-bg-color: rgb(244, 246, 239);
$orange-color:rgb(233, 102, 60);
$image-margin:10%;
$capitalize:uppercase;
$m-20:20px;
$m-30:30px;
$h-300:300px;

* {
    padding: 0;
    margin: 0;
}

body {
    font: $font;
    background-color:$white-color;
    line-height: 1.6em;
    font-weight: normal;
    font-size: 13px;
  }

nav {
    padding-right: $menu-right-margin;
    padding-bottom: 50px;
    margin-top: 50px;
    ul {
        list-style: none;
        padding: $padding-initial-value;
        margin: $margin-initial-value;
        float: right;
    }
    li {
        display: inline;
        padding-right: $nav-items-spacing;

        a {
            color: $grey-color;
            font-size: 13px;
        }
    }

}

.feature {
    img {
        width: $image-width;
        margin-bottom: 30px;
        margin-left: $image-margin;
        margin-right: $image-margin;
        height: 460px;
        
    }
}

.about {
    margin-left: 175px;
    float: left;
    width: 40%;
    h4 {
        text-transform: $capitalize;
        margin-bottom: $m-20;
    }
    a {
        color: $grey-color;
    }
}

.call-to-action {
    background-color: $grey-color;
    float: right;
    width: 20%;
    margin-right: 350px;
    h3 {
        text-transform: $capitalize;
        color: $white-color;
        text-align: left;
        margin: $m-20;
        line-height: 1em;
        
    }
    button {
        text-align: center;
        background-color:$orange-color;
        border-radius: 2px;
        color: $white-color; 
        margin-left: $m-30;
        border: none;
        height: 40px;
        margin-bottom: 10px;
        margin-top: 0;
        font-weight: bold;
        padding-left: $m-20;
        padding-right: $m-20;  
    }
}


.widgets {
    margin-top: 250px;
    height: $h-300;
    background-color: $container-bg-color;
    margin-left: $image-margin;
    margin-right: $image-margin;
    margin-bottom: $m-20;
    padding-top: 5px;
    
    hr {
        margin-left: $m-30;
        margin-right: $m-30;
        
    }
    h3 {
        text-transform: $capitalize; 
        margin-top:$m-30;
        margin-left: $m-30;
    }
    .widget {
        width: 30%;
        float: left;
        box-sizing: border-box;
        margin-top: $m-30;
        margin-left: $m-30;
        h4 {
            text-transform: $capitalize;
        }
        p {
            margin-top: $m-20;
        }
    }
    
}

footer {    
    margin-bottom: 10px;
    margin-top: 50px;
    p {
        text-align: center;
    }
}

