$image-margins:10px;
$margin-initial-value:0;
$padding-initial-value:0;
$nav-items-spacing:40px;
$white-color:#fff;
$grey-color:#333;
$menu-right-margin:137px;
$font : 100% Open-Sans;
$image-width : 80%;
$container-bg-color: rgb(244, 246, 239);
$orange-color:rgb(233, 102, 60);
$image-margin:10%;
$capitalize:uppercase;
$m-20:20px;
$m-30:30px;
$h-250:250px;
$h-300:300px;
$m-5:5px;